@tailwind base;
@tailwind components;
@tailwind utilities;

:is(.accordion-item, .faq-accordion-item) button::after {
  transition: transform 0.2s ease-in-out;
}

:is(.accordion-item, .faq-accordion-item) button.dr-open::after {
  transform: rotate(-180deg);
}

:is(.accordion-item, .faq-accordion-item) button.dr-open {
  @apply bg-grayish;
}

.animation-normal {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.animation-normal-slow {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}

.animation-slow {
  -webkit-animation-duration: 4.5s;
  animation-duration: 4.5s;
}

.animation-slower {
  -webkit-animation-duration: 5.5s;
  animation-duration: 5.5s;
}

.animation-slowest {
  -webkit-animation-duration: 7s;
  animation-duration: 7s;
}

@keyframes wave {
  0% {
    -webkit-transform: rotate(1deg);
    transform: rotate(1deg);
  }
  100% {
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg);
  }
}

.wave {
  animation: wave 2s ease-in-out infinite alternate both;
}
